<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="Description" content="盛世金磐"/>
    <meta name="Keywords" content="盛世金磐"/>
    <title>盛世金磐</title>
    <link rel="stylesheet" type="text/css" href="css/public.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/banner.css"/>
    <link href="css/main.css" type="text/css" rel="stylesheet">

</head>
<body>
<!--头部开始-->
<header>
    <iframe style="height: 123px" MARGINWIDTH=0 MARGINHEIGHT=0 HSPACE=0 VSPACE=0 FRAMEBORDER=0
            SCROLLING=no src="head.html" width="100%">
    </iframe>
</header>
<!--头部结束-->
<!--banner开始-->
<!--隐藏在header下边的图层-->
<div class="btn-6" id="back_top">
    <a id ="qw">↑</a>
    <a id='qwe'>回到顶部</a>
</div>
<div class="bannerTop"></div>
<div class="banner">
    <div id="focus-banner">
        <div class="black_bg">
            <!--<div class="logo">
                <img src="images/logo.png"/>
            </div>-->
        </div>
        <ul id="focus-banner-list">
            <li>
                <a  class="focus-banner-img">
                    <img src="images/jr5.jpg" alt="" >
                </a>
                <div class="focus-banner-text">
                    <p>把握财富趋势，小资金赢取大收益</p>
                </div>
            </li>
            
        </ul>
    </div>
</div>

<!--banner结束-->
<div class="clear"></div>

<div align="center" style="font-size:36px; color:#454545; position:relative;margin-top: 50px">金融介绍 </div>
<p class="clos op0 disloc" align="center" style="margin-top: 20px">Warranty Product</p>

<!--立体阴影三个模块开始-->
<article>
    <div class="shadow">

        <!--单个阴影模块-->
        <div class="sectionShadow">
            <div class="shadowImg">
                <img src="images/jr4.jpg"  height="130" width="314"/>
            </div>
            <div class="shadowTitle">
                股票
            </div>
            <div class="shadowFont">
                股票（stock）是股份公司所有权的一部分，也是发行的所有权凭证，是股份公司为筹集资金而发行给各个股东作为持股凭证并借以取得股息和红利的一种有价证券。股票是资本市场的长期信用工具，可以转让，买卖，股东凭借它可以分享公司的利润，但也要承担公司运作错误所带来的风险。每股股票都代表股东对企业拥有一个基本单位的所有权。每家上市公司都会发行股票。
            </div>
            <div class="shadowBtn">
                <a href="https://baike.baidu.com/item/%E8%82%A1%E7%A5%A8/22647?fr=aladdin">+ 了解更多</a>
            </div>
        </div>
        <!--单个阴影模块-->
        <!--单个阴影模块-->
        <div class="sectionShadow">
            <div class="shadowImg">
                <img src="images/jr2.jpg" height="130" width="314"/>
            </div>
            <div class="shadowTitle">
                交易时间
            </div>
            <div class="shadowFont">
                大多数股票的交易时间是：
                交易时间4小时，分两个时段，为：周一至周五上午9:30至11:30和下午13:00至15:00。
                上午9:15开始，投资人就可以下单，委托价格限于前一个营业日收盘价的加减百分之十，即在当日的涨跌停板之间。9:25前委托的单子，在上午9:25时撮合，得出的价格便是所谓“开盘价”。9:25到9:30之间委托的单子,在9:30才开始处理。
                休息日：周六、周日和上证所公告的休市日不交易。  
            </div>
            <div class="shadowBtn">
                <a href="https://baike.baidu.com/item/%E8%82%A1%E5%B8%82%E4%BA%A4%E6%98%93%E6%97%B6%E9%97%B4/1579365?fr=aladdin">+ 了解更多</a>
            </div>
        </div>
        <!--单个阴影模块-->
        <!--单个阴影模块-->
        <div class="sectionShadow">
            <div class="shadowImg">
                <img src="images/jr3.jpg" height="130" width="314"/>
            </div>
            <div class="shadowTitle">
                股票交易策略
            </div>
            <div class="shadowFont">
                目前市场上股票交易策略主要有以下九种：1.价值投资 2.趋势投资 3.波段做T 4.绩优股轮动 5.单叼红中 6.定投 7.打新 8.熊市买 9.指数            </div>
            <div class="shadowBtn">
                <a href="https://zhuanlan.zhihu.com/p/96025530">+ 了解更多</a>
            </div>
        </div>
        <!--单个阴影模块-->
    </div>
</article>
<!--立体阴影三个模块结束-->
<div class="clear"></div>

<article>

    <div class="ind-about">
        <div class="wrap">
            <div class="sinlt">
                <p class="bilt op0 disloc">关于我们</p>
                <p class="clos op0 disloc">About Us</p>
                <p class="line disloc"><span></span></p>
            </div>

            <div class="cliet op0 disloc">

                <div class="pic">

                    <img src="images/u=1040422520,1283968395&fm=27&gp=0.jpg" width="100%"></div>

                <div class="owatl">

                    <div class="nulsm">
                        <p align="left" class="MsoNormal">
                            <span style="line-height:150%;font-family:微软雅黑;font-size:12pt;"></span>
                        </p>
                        <p class="MsoNormal" style="text-indent:24pt;color: #666">
                            <span style="color: #666">盛世金磐股票分析有限公司是一家专门为事企业和个人提供股票分析的
                                专业股票查询机构。公司依托集团公司的雄厚资本实力，设立科学、严谨的业务构架，建立并完善了专业化、
                                规范化的管理体系和风险控制体系。公司本着“防范风险、稳健经营、创新发展、服务社会”的经营理念，汇集行
                                业精英人才，以数科和金融业资深专家为团队核心，以财会、法律、财务、数据分析等多方面专业人才为
                                团队框架，构成了一支高素质、高水平的专业团队。</span>
                        </p>
                        <p class="MsoNormal" style="text-indent:24pt;color: #666">
	<span>
                        <p class="MsoNormal" style="text-indent:24.0000pt;color: #666">
                            公司按照国家法律、法规和产业政策要求，本着“诚信、务实、规范、高效”的经营宗旨，积极为企业与个人提供专业高效的股票分析推荐服务
                            ，帮助企业与个人在持续、稳定、上升的发展道路上走得更加稳健。
                        </p>
                        </span><span></span>
                        </p>
                        <p class="MsoNormal" style="text-indent:24pt;color: #666">
                            <span>公司主要业务包括：资讯推荐、股票展示、股票推荐以及提供股民交流的平台</span>
                        </p>
                        <p>
                            <br/>
                        </p>
                        <p align="center" class="MsoNormal">
	<span style="line-height:150%;font-family:微软雅黑;font-size:12pt;"><br/>
<span></span></span>
                        </p>
                        <p class="MsoNormal" style="text-indent:24pt;">
                            <br/>
                        </p>
                    </div>
                    <div class="molox tr"><a href="/financial_products/advantage.html">+ 了解更多</a></div>

                </div>
                <br class="clear">
            </div>
        </div>
    </div>
</article>
<iframe
        scrolling="no" MARGINWIDTH=0 MARGINHEIGHT=0 HSPACE=0 VSPACE=0
        FRAMEBORDER=0 SCROLLING=no src="footer.html" width="100%"
>
</iframe>
<!--網站底部開始-->
<!--底部版權聲明-->
<script src="js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/banner.js"></script>
<!--关于我们切换开始-->
<script src='js/slick.min.js'></script>
<script type="text/javascript">
    $("#back_top").click(function(){ //当点击标签的时候,使用animate在200毫秒的时间内,滚到顶部

        $("html,body").animate({scrollTop:"0px"},200);

    }); 



</script>
<!--关于我们切换结束-->
</body>
</html>
